---
title: "Doctasm Example"
active_menu_item: product
class_name: products
full_width: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>      
        <li><a href="/product/pricing">Pricing</a></li>
        <li class="active"><a href="/product/example">Example</a></li> 
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/product/services">Services</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="overview-sections">
  <div class="container">
    <h1>An example Doctasm document</h1></br>
  </div>
</section>

<section id="examples" class="container clearfix">
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>General Stuff</h3>
      <p>These are the most commonly used things to look out for in a Doctasm document. Check out the numbers higlighted in the screenshot.</p>
      <ul>
        <li>Customizable Headers and Body Text as well as special zones like 'Callout', 'Warning', 'Important', 'Code'.</li>
        <li>Table of Contents is independently scrollable and customizable. You can drag and drop topics and chapters freely.</li>
        <li>Search is really powerful and easy to set up. See below for more on search.</li>
        <li>The optional Breadcrumbs line is clickable</li>
        <li>The Zoom feature allows your contents to fill the entire window maximizing readability.</li>
        <li>Images can be managed in a folder structure and then inserted into your documents. They can zoom when clicked on.</li>
        <li>Lists are fully supported including bullets and numbered lists</li>      
      </ul>
      <%= image_tag 'examples/example-doc.png', :alt => 'Build your UI with drag-and-drop visual development' %>          
    </article>    
</section>

<section id="examples" class="container clearfix">
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Search</h3>
      <p>Search is a very powerful Doctasm feature. Doctasm can automatically build a list of suggested tags which you can then edit and add to. This drives efficient searching with minimal setup. Matches are then displayed in a scrollable list.</p>

      <%= image_tag 'examples/example-search.png', :alt => 'Build your UI with drag-and-drop visual development' %>          
    </article>    
</section>

