---
title: "Documentation in the Cloud"
active_menu_item: product
class_name: products
full_width: true
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li class="active"><a href="/product">Overview</a></li>
        <li><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/services">Services</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="overview-sections">
  <div class="container">
    <h1>Document Anything. Run Anywhere.</h1>

    <ul class="clearfix">
      <li>
        <a href="#standard">
          <h3>Standard</h3>
          <p>What's in the general goodie bag</p>
        </a>
      </li>
      <li>
        <a href="#formatting">
          <h3>Formatting</h3>
          <p>How you can format your docs</p>
        </a>
      </li>
      <li>
        <a href="#deploy">
          <h3>Deployment</h3>
          <p>The ways you can deploy your docs</p>
        </a>
      </li>   
      <li>
        <a href="#advanced">
          <h3>Advanced</h3>
          <p>Advanced goodies</p>
        </a>
      </li>       
    </ul>
  </div>
</section>

<a name="standard"></a>
<section id="overview-standard-features" class="overview-section">
  <div class="container clearfix">
    <div>
    <%= image_tag 'products/standard_300.png', :alt => 'Build your UI with drag-and-drop visual development' %>
    </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Standard Stuff</h1>
      <p>These are the most important and most used features in Doctasm.</p>
      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
            <h4>Easy Editing</h4>
            <p>We avoid HTML (complex) and WYSIWYG (sounds good but is very bad for responsive layout). Instead we use the Doctasmic plain text format. </p>          
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
            <h4>Style Templates</h4>
            <p>We provide several great style templates but you can add your own with CSS control.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Table of Contents</h4>
            <p>We have made this really great and a no brainer. All drag-and-drop with customizable icons. A pleasure.</p>            
          </td>
          <td width="20px"></td>
          <td valign= "top" >
            <h4>Instant Preview</h4>
            <p>With the click of a button you can see your docs exactly as they will appear for real.</p>            
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Search</h4>
            <p>All page titles are ready to search and you can add tags to each page for targeted searching.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
            <h4>Doc Asset Management</h4>
            <p>Doctasm lets you upload any images and files that can be shown in or linked from your content.</p>            
          </td>
        </tr>  
      </table>         
    </article>
  </div>
</section>

<a name="formatting"></a>
<section id="overview-formatting" class="overview-section">
  <div class="container clearfix">
    <div>
      <%= image_tag 'products/formatting_300.png', :alt => 'Write javascript code for the client and server' %>
    </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Formatting Options</h1>
      <p>Your formatting options are virtually limitless. Our special plain text doc language **Doctasmic** comes with plenty of document stylings but you can add anything you like with a little tinkering.</p>

      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
            <h4>Simple Font Control</h4>
            <p>All body and header fonts can be controlled via the easy to use Doctasm menus.</p>      
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
            <h4>Body Text</h4>
            <p>This is the main body text.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Headers</h4>
            <p>You can have as many different header styles as you like although one is normally right for clean docs.</p> 
          </td>
          <td width="20px"></td>
          <td valign= "top" >
            <h4>Lists</h4>
            <p>We support bullets, numbered and custom list styles.</p>            
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Code</h4>
            <p>If you are a software company and want to include code examples including special formatting for standard languages.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
            <h4>Special Callout Styles</h4>
            <p>We support a range of styles such as Important, Tips &amp; Tricks, Examples as well as being able to add user definable ones.</p>            
          </td>
        </tr>  
        <tr>
          <td valign= "top">
            <h4>Images &amp; Videos</h4>
            <p>You can embed images (with click and zoom support) and videos (with popout play window).</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
            <h4>Hyperlinks</h4>
            <p>Create links to other doc pages or to external pages.</p>          
          </td>
        </tr>     
        <tr>
          <td valign= "top">
            <h4>HTML Inserts</h4>
            <p>Insert HTML for 'catchall' situations.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
      
          </td>
        </tr>                 
      </table>    
    </article>
  </div>
</section>

<a name="deploy"></a>
<section id="overview-deployment" class="overview-section">
  <div class="container clearfix">
    <div>
    <%= image_tag 'products/deployment_300.png', :alt => 'Deploy as a web app and to the App Stores.' %>
  </div>
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Deployment</h1>
      <p>You have real freedom to deploy in very cool ways using Doctasm.</p>


      <table style="width:650px;" >
        <tr>
          <td valign= "top" width="320px">
           <h4>Desktop Web App</h4>
          <p>Your docs will run on any desktop browser.</p>         
          </td>
          <td width="20px"></td>
          <td valign= "top" width="320px">
          <h4>Mobile Web App</h4>
          <p>If you access from a mobile device, it will automatically display in a different way, and one that works beautifully in small screens.</p>
          </td>
        </tr>
        <tr>
          <td valign= "top">
          <h4>Deploy to App Stores</h4>
          <p>How cool is this? With a click of a button, you can turn your Doc into an App Store ready App that runs on iOS, Androidn and Windows Phone. Think of the opportunities!</p>          
          </td>
          <td width="20px"></td>
          <td valign= "top" >
          <h4>Deploy to Doctasm or Private Server</h4>
          <p>You are free to deploy your Docs to the Doctasm platform or download them and run on your own Windows, Mac or Linux servers.</p>            
          </td>
        </tr>
        <tr>
          <td valign= "top">
            <h4>Search</h4>
            <p>All page titles are ready to search and you can add tags to each page for targeted searching.</p>
          </td>
          <td width="20px"></td>
          <td  valign= "top">
          <h4>Staging &amp; Production Modes</h4>
          <p>You can specify a Staging server (on Doctasm or your own server) for testing your Docs before pushing them to into Production.</p>            
          </td>
        </tr>  
      </table>  
    </article>
  </div>
</section>

<a name="advanced"></a>
<section id="overview-deployment" class="overview-section">
  <div class="container clearfix">
    
    <article>
      <a href="#top" class="back-top scroll_to_top">TOP &#9650;</a>
      <h3>Advanced Features</h1>
      <p>Here are some other advanced features in the Doctasm goodie bag.</p>

      <ul class="clearfix">
        <li>
          <h4>Headers &amp; Footers</h4>
          <p>You can include fully customizable Headers and Footers for your Docs.</p>
        </li>
        <li>
          <h4>Roll your own styling</h4>
          <p>As we use standard web technologies, you can create any styling you want by editing our CSS templates.</p>
        </li>
        <li>
          <h4>Breadcrumbs</h4>
          <p>You can switch on a breadcrumbs bar to show your current opsition within the Table of Contents.</p>
        </li>
        <li>
          <h4>Page Maximizing</h4>
          <p>The user can press a button to toggle the Table of Contents and page content to fill the entire screen.</p>
        </li>
        <li>
          <h4>Next &amp; Previous Pages</h4>
          <p>You can ask Doctasm to display special links to take you to the next and previous pages.</p>
        </li>        
      </ul>
    </article>
  </div>
</section>

