---
title: Just $14
active_menu_item: product
class_name: pricing
full_width: true
meta_keywords: mobile app development tools, mobile app development software, mobile app development platform, application, application developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, android, html5, html 5, ios, ipad, iphone, desktop, windows, blackberry, smartphone, symbian
---

<% content_for :submenu do %>
  <nav class="sub">
    <div class="container">
      <ul class="clearfix">
        <li><a href="/product">Overview</a></li>        
        <li class="active"><a href="/product/pricing">Pricing</a></li>
        <li><a href="/product/testimonials">Testimonials</a></li>
        <li><a href="/product/services">Services</a></li>
      </ul>
    </div>
  </nav>
<% end %>

<section id="pricing-section">
  <div class="container clearfix">
    <article>
      <h3>Doctasm Free</h3>
      <h4>$0</h4>
      <ul>
        <li>1 Document</li>
        <li>10 Page Document Limit</li>
        <li>1 user</li>
      </ul>
      <p><a href="/get-started">Click to signup &raquo;</a></p>
    </article>

    <article>
      <h3>Doctasm Author</h3>
      <h4>$25 per month</h4>
      <ul>
        <li>10 Documents</li>
        <li>Unlimited Pages</li>
        <li>3 users</li>
      </ul>
      <p><a href="/get-started">Click to signup &raquo;</a></p>
    </article>

    <article>
      <h3>Doctasm Wordsmith</h3>
      <h4>$49 per month</h4>
      <ul>
        <li>100 Documents</li>
        <li>Unlimited Pages</li>
        <li>10 Users</li>
      </ul>
      <p><a href="/get-started">Click to signup &raquo;</a></p>      
    </article>

    <article>
      <h3>Doctasm Scribe</h3>
      <h4>$299 per month</h4>
      <ul>
        <li>Unlimited Documents</li>
        <li>Unlimited Pages</li>
        <li>50 Users</li>
      </ul>
      <p><a href="/get-started">Click to signup &raquo;</a></p>      
    </article>

  </div>
</section>
