body.pricing {

  #overview-sections {
    display: none;
    @include apply-to(more-than, ipad-portrait) {
      display: block;
    }
  }

  #pricing-section {
    .container {
      padding: 50px 30px 25px 30px;
    }

    article {
      font-size: 16px;
      background: rgba(248, 247, 239, 0.5);
      border-style:solid;
      border-width:4px;      
      border-color: #3FA4B2;
      border-radius: 12px;
      padding: 0px 30px 10px 30px;
      margin: 0 80px 25px 80px;

      &:hover {
        background: rgba(248, 247, 239, 1);   
        border-color: #EB5F5E;     
      }

      ul {
        font: 20px gotham_bookregular;
        margin: -70px 0 0 400px;
      }

      h3 {
        font: 30px gotham_bookregular;
        text-transform: uppercase;
        margin: 30px 0 0 0;
      }
      h4 {
        font: 26px museo_sans_rounded_300regular;
        color: #EB5F5E;
        margin: 10px 0 0 0;
      }      

      p {
        font: 18px gotham_bookregular;
        margin: 9px 0 0 439px;
      }

      a {
        font: 18px gotham_bookregular;
      }
    
    }
  }

}