body.products {

  #overview-sections {
    background: #3FA4B2 image-url('bgcloth.png') repeat;
    font-size: 0.8em;

    .container > h1 {
      color: $cream;
      font: 40px gotham_thinregular;
      text-transform: uppercase;
      padding: 26px 0 20px;
      margin: 0 auto;
      width: 90%;
      text-align: center;
    }

    #video {
      p {
        color: $cream;
        font: 20px gotham_thinregular;
        width: 150px;
        float: left;
        margin: 111px 0px 0px 13px;
      }
      img:nth-child(1) {
        float: left;
        width: 250px;
        margin: 0px 0 10px -17px;
      }
      img:nth-child(2) {      
        float: left;
        width: 100px;
        margin: 76px 0px 0px -174px;
      }      
    }

    #services-contact {
      p {
        color: $cream;
        font: 20px gotham_thinregular;
        width: 150px;
        float: left;
        margin: 111px 0px 0px 13px;
      }
      &:div {
        float: left;
        width: 300px;
        padding: 20px 0 0 0;
      }    
    }    

    ul {
      @include no-list-style;
      padding: 40px 10px 79px;
      float: left;
      width: 560px;
      #services-header {
        width: 900px;
      }

      @include apply-to(more-than, ipad-portrait) {
        margin-left: 32px;
      }
      @include apply-to(more-than, ipad-landscape) {
        margin-left: 0;
        padding: 40px 10px 79px;
      }

      > li {

        a {
          display: block;
          padding-left: 78px;
          height: 84px;
          width: 170px;
          margin-left: 0px;
          float: left;  
          width: 170px;
          margin-right: 20px;                  
        }
        h3 {
          font-size: 17px;
          text-transform: uppercase;
          padding: 8px 0 0 0;
          margin: 0 0 0 12px;
          color: #ffffff;
        }
        p {
          margin: 4px 0 0 12px;
          font-size: 15px;
          line-height: 1.2em;
          color: #e7e7e7;
        }
        &:nth-child(1) a {
          background: transparent image-url('products/standard.png') no-repeat;
        }
        &:nth-child(2) a {
          background: transparent image-url('products/formatting.png') no-repeat;
        }
        &:nth-child(3) a {
          background: transparent image-url('products/deployment.png') no-repeat;
        }
        &:last-child a {
          background: transparent image-url('products/advanced.png') no-repeat;
          @include apply-to(more-than, ipad-landscape) {
            margin-right: 0;
          }
        }
      }
    }
  }

  #examples {
     article {
        background: rgba(248, 247, 239, 0.7);
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;      
        border-color: rgba(63, 164, 178, 0.17);  
        margin: 20px 20px 20px 20px;   
        padding: 20px 20px 20px 20px;  
        ul {
          list-style-type:decimal; 
          margin: 10px 0 0px 10px;     
        }
        img {
          margin-top: 20px;
        }
        h3 {
          color: #f36050;
          font: 26px gotham_bookregular;
          margin: 0 0 26px;
          text-shadow: 1px 1px 3px #BBB;
          text-transform: uppercase;
          border-bottom: 3px solid #CCC;
          padding-bottom: 10px;

          @include apply-to(more-than, iphone-landscape) {
            margin: 0;
          }
          @include apply-to(more-than, ipad-portrait) {
            font-size: 32px;
          }
          @include apply-to(more-than, ipad-landscape) {
            font-size: 36px;
            margin: 0 0 26px;
          }
        }
        h4 {
          font: 17px gotham_mediumregular;
          margin-bottom: 5px;
        }
        p {
          font-size: 15px;
          margin: 0px 0 0 0;
        }        
      }
  }


  #services-feature {

    .container > div { float: left; width: 280px;  }
    .container > article { float: left; width: 600px; vertical-align: middle;}
    .container {
      article {       
          margin: 50px 0 0 50px;
      }
      img {
          margin: 40px 0 0 0;
          vertical-align: middle;
          width: 280px;
      }

    }
  }


}